extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

     
        h1 Emmanuel Akala

        p Full Stack JavaScript Developer


        .about-bio

          
          p This is a template for when i make my own portfolio website for using materialize and standard html. I find those programs more engaing to use and and i would really like to practice with them to use then express however i have learned a lot using express and find it a very concise way of make html. And also i would like to use my own layout of the page  .I've added my resume just to test if this would work. 

          a.btn-link(href='/static/Emmanuel_Akala_Resume(Eng).docx') Download My Resume


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Materialize

        h6 Contact Info

        
        ul
          li 078 6425 8128
          li emmanuel.akala94@yahoo.co.uk

        
        a.btn-link(href='https://www.linkedin.com/in/emmanuel-akala-962457108/') LinkedIn
        a.btn-link(href='https://github.com/MannyAk1703') GitHub
        a.btn-link(href='https://twitter.com/MannyAkdev1') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back