extends layout.pug

block content

  article.portfolio-intro

    
    h1 My Portfolio

   
    p Portfolio description to display everything i've worked on at present


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href='/data/'+`${project.id}`)
            img.thumbnail(src=`${project.imgs_urls[1]}`, alt=`${project.project_name}`)
            h5 #{project.project_name}
       
    

